<%- include('parts/head') %>
<%- include('parts/nav') %>
    <div class="container text-center">
        <br>
        <h3>Sign Up</h3>
        <br>
        <form action="/signup" method="POST">
            <input type="text" class="form-control" placeholder="Username" name="username"><br>
            <% let usernameError = validationErrors.find(err => err.param === 'username'); %>
            <% if(usernameError){ %>
                <p class="alert alert-danger">
                    <%= usernameError.msg %>
                </p>
            <% } %>
            <input type="email" class="form-control" placeholder="E-mail" name="email"><br>
            <% let emailError = validationErrors.find(err => err.param === 'email'); %>
            <% if(emailError){ %>
                <p class="alert alert-danger">
                    <%= emailError.msg %>
                </p>
            <% } %>
            <input type="password" class="form-control" placeholder="Password" name="password"><br>
            <% let passwordError = validationErrors.find(err => err.param === 'password'); %>
            <% if(passwordError){ %>
                <p class="alert alert-danger">
                    <%= passwordError.msg %>
                </p>
            <% } %>
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword"><br>
            <% let confirmpasswordError = validationErrors.find(err => err.param === 'confirmpasswordError'); %>
            <% if(confirmpasswordError){ %>
                <p class="alert alert-danger">
                    <%= confirmpasswordError.msg %>
                </p>
            <% } %>
            <input type="submit" class="btn btn-primary" value="Create Account">
        </form>
        <% if(authError){ %>
        <br>
        <p class="alert alert-danger"><%= authError %></p>
        <% } %>
        <br>
        <div>
            Already have account ? <a href="/login">Login</a> 
        </div>
    </div>
<%- include('parts/footer') %>